<!-- <app-quote-form></app-quote-form>
<ul>
  <li *ngFor='let quote of quotes'>{{quote.name}}</li>   
</ul> -->

<h1>Inspirational Quotes</h1>
<hr>

<ul>
    <div *ngFor='let submitquote of submitquotes'>
        <li >Quote: {{ submitquote.quote }}. By  {{ submitquote.author | uppercase  }}. Submitted by. {{ submitquote.submitter  }} Date. {{ submitquote.postdate }}.</li> 
        <!-- <app-quote-details [quotes]='quotes'></app-quote-details> -->
    </div>
</ul>

<div class="container">
  <div class="row">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>